/* .header{
    height:97px;
} */

/* .sec_header{
  background: #5f0081;
}
.header{
  display: flex;
  background: #5f0081;
  height: 72px;
  width: 1200px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.header_h1{
  flex-basis: 50px;
  height:70%;
  background: url("../../../틈로고.png") 0 0 no-repeat;
  text-indent: -9999px;
  background-size: 50px auto;
} */

 
.body{
    height:1080px;
}
    .body>.container{
        display:flex;
    }

    .aside{
        width: 279px;
        height:253px;
        border:1px solid #707070;
        margin-top:109px;
        margin-left:382px;
        font-size:20px;
    }

    .main{
        width:890;
        
    }
    .content-container{
        width:1024px;
      }
      
      .table{
        border-collapse:collapse;
        width:70%
      }
      tr, th, td {
          border: 1px solid lightgray;
        }
      th{
        background-color:#EAEAEA;
      }
      .tb-inner-div{
        height:200px;
      }
